body {
    font-family: 'Roboto Condensed', sans-serif;
}

.container {
    max-width: 1200px;
    width: 100%;

    margin: 0 auto;
    padding: 0 15px;
}

.link {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;

    
}

.wawe {
    background-image: url(wawe-new.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center 0;
}
.link:hover {
    border-bottom: 1px solid #00b2a0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    gap: 30px;
}


.title {
    text-align: center;
    margin: 200px auto;

}

.title h3 {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;

    margin-top: 20px;
}

@media (max-with: 700px) {
    nav {
        flex-wrap: wrap;
    }
}