body {
    font-family: 'Roboto Condensed', sans-serif;
}

.container {
    max-width: 1200px;
    width: 100%;

    margin: 0 auto;
    padding: 0 15px;
}

.link {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;

    border-bottom: 1px solid #00b2a0;
}

.wawe {
    background-image: url(wawe-new.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center 0;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    gap: 30px;
}


.title {
    text-align: center;
    margin: 200px auto;

}

.title h3 {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;

    margin-top: 20px;
}

@media (max-with: 700px) {
    
}

@media (max-with: 700px) {
    .wrap {
        flex-direction: column;
    }
}


.big-title {
    color: #000000;
    font-family: Ralevay;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.6px;
    text-align: center;
}
.box {
    /* border: 5px solid black */
}

.box p {
    margin-bottom: 20px;

    color: #242121;

font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 18px; /* 128.571% */
letter-spacing: 0.6px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    gap: 30px;
    flex-wrap: wrap;
}
.title {
    text-align: center;
    margin: 300px auto;
}
.wrap {
    display: flex;
    gap: 50px;
    margin-top: 30px;
}